<div class="container">
  <h1>Welcome to Survey Gorilla!</h1>
  <p>We are Jeremy and Jalen!</p>

  <div class="login">
    <h1>Login to Web App</h1>
    <form method="post" action="/login">
      <p><input type="text" name="username" value="" placeholder="Username or Email"></p>

      <p class="remember_me">
        <label>
          <input type="checkbox" name="remember_me" id="remember_me">
          Remember me on this computer
        </label>
      </p>
      <p class="submit"><input type="submit" name="commit" value="Login"></p>
    </form>
  </div>


  <div class="sign_up">
    <h1>Don't have an account? Sign Up Here!</h1>
    <form method="post" action="/user/new">
      <p><input type="text" name="username" value="" placeholder="Username or Email"></p>

      <p class="submit"><input type="submit" name="commit" value="Get your free account"></p>
    </form>
  </div>

</div>
